@use '../../../../mixins.scss' as mixins;

:host {
    position: relative;

    mat-icon {
        font-size: 32px;
        height: 32px;
        width: 32px;
    }

    select {
        all: unset;
        width: 100%;
        border-radius: var(--border-radius);
        padding: var(--spacing-05);
        height: 58px;
        box-sizing: border-box;
        background-color: var(--color-tertiary);
        border: var(--border-primary);
    }

    &.alert select {
        border-color: var(--border-color-alert);
    }

    .arrow {
        position: absolute;
        top: 0;
        right: 16px;
        height: 100%;
        display: flex;
        align-items: center;
        pointer-events: none;
    }
}