@use '../../../../mixins.scss' as mixins;

:host {
    display: flex;
    column-gap: var(--spacing-04);

    mat-icon {
        height: 32px;
        width: 32px;
        font-size: 32px;
        color: white;
    }

    input[type=number] {
        all: unset;
        width: 100%;
        border-radius: var(--border-radius);
        padding: var(--spacing-05);
        height: 58px;
        box-sizing: border-box;
        background-color: var(--color-tertiary);
        border: var(--border-primary);
        width: 65px;
        text-align: center;
        -moz-appearance: textfield;
    }

    .button {
        height: 58px;
        width: 58px;
        border: var(--border-width-secondary) var(--border-style) var(--border-color-secondary);
        border-radius: var(--border-radius);
        justify-content: center;
        background-color: var(--color-secondary);

        &:active {
            background-color: var(--border-color-secondary);
        }
    }
}