@mixin reset-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

@mixin reset-button {
    border: none;
    background: none;
    color: inherit;
    padding: 0;
    margin: 0;
    font: inherit;
}