:root {
	--color-primary: #264059;
	--color-secondary: #132635;
	--color-tertiary: #111a2b;

	--border-radius: 8px;
	--border-width-primary: 1px;
	--border-width-secondary: 2px;
	--border-style: solid;
	--border-color-primary: #3c5872;
	--border-color-secondary: #0e1d29;
	--border-color-tertiary: #1c3146;
	--border-color-alert: red;
	--border-primary: var(--border-width-primary) var(--border-style) var(--border-color-primary);

	--spacing-01: 1px;
	--spacing-02: 2px;
	--spacing-03: 4px;
	--spacing-04: 8px;
	--spacing-05: 16px;
	--spacing-06: 32px;
	--spacing-07: 64px;

	--elevation-01: 0 0 rgba(0, 0, 0, 0.12), 0 2px 8px 0.5px rgba(0, 0, 0, 0.16);

}

html,
body {
	height: 100%;
}

body {
	background-color: var(--color-tertiary);
	color: white;
	padding: 0;
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}
