<div class="container">
	<ul class="list">
		@if(loading()) {
		<mat-icon class="material-symbols-outlined">progress_activity</mat-icon>
		}
		@else if(error()) {
		<div>{{ error() }}</div>
		}
		@else {
		<h2>Favorites</h2>
		@for(aircraft of aircrafts(); track aircraft.id) {
		<li>
			<!-- Favorites are mocked here -->
			<app-aircraft [value]="aircraft" [isOpen]="isOpen(aircraft.id)" [favorite]="$index < 3"
				(removed)="removeAircraft($event)" (clicked)="setOpenId($event)">
			</app-aircraft>
			@if ($index === 2) {
			<div class="favorites-bottom-line"></div>
			}
		</li>
		}
		}
	</ul>
</div>